body{
  background-image: url(images/brick-back.jpg);
  background-repeat: repeat;
   margin: 100px 150px 100px 80px;
 }
h1,h2,h3,h4,h5,h6{
  color:white;
  font-family:"Lato", sans-serif;
  text-align: center;
}
p{
  color:white;
  font-family:"Lato","sans-serif";
}
a{
  color: rgb(0, 102, 255);
}
a:hover{
  background-color:yellow;
  font-size: 150%;
}
hr{
  border: 0;
  align:center;height:25px;
  background-image: url(images/pacman.png);
  background-repeat: repeat;
}
table{
  color:white;
}
ul{
  list-style-type: square;
  list-style-position: inside;
  text-align:center;
}
.course-table{
  border: 1px solid white;
  border-collapse: collapse;
  color:white;
  text-align: center;
}
